<%- include('partials/header.ejs'); -%>
    <div class="homies">
        <h1>HOME</h1>
        <p><%= startingContent %></p>
    </div>
    <div class="items">
    <% posts.forEach((post)=>{ %>
        <h1><%= post.title %></h1>
        <p><%= post.body.substring(0, 100) %>
        <a href="/posts/<%=post.title%>">Read more..</a></p>
    <%})%>
    </div>
<%-include('partials/footer.ejs'); -%>